<% cache [Date.today, Reminder.current.order("updated_at").last] do %>
  <% reminders = Reminder.current.order("end_at") %>
  <% if reminders.any? %>
    <div class=reminders>
      <h3><%= l(:label_reminder_plural) %></h3>
      <% reminders.each do |reminder| %>
        <%= content_tag :div, :class => "reminder reminder-#{reminder.color}" do %>
          <%= textilizable reminder.text %>
          <em class=info>
            <%= reminder.user %> | 
            <%= link_to l(:button_edit).downcase, edit_reminder_path(reminder) %>
          </em>
        <% end %>
      <% end %>
    </div>
    <div class=clear></div>
  <% end %>
<% end %>
