<%= error_messages_for 'reminder' %>

<!--[form:reminder]-->
<div class="box tabular">
  <p>
    <%= f.text_area :text, :size => "40x3", :label => l(:label_string) %>
  </p>
  <p>
    <%= f.text_field :start_at, :size => 10 %>
    <%= calendar_for('reminder_start_at') %>
  </p>
  <p>
    <%= f.text_field :end_at, :size => 10 %>
    <%= calendar_for('reminder_end_at') %>
  </p>
</div>
<!--[eoform:reminder]-->

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'reminders', :plugin => "redmine_reminders" %>
<% end %>
