<%= error_messages_for 'reminder' %>

<!--[form:reminder]-->
<div class="splitcontentleft">
  <div class="reminder-form box tabular">
    <%= hidden_field_tag :back_url, params[:back_url] %>
    <p>
      <%= f.text_area :text, :size => "40x3", :label => l(:label_string) %>
    </p>
    <p>
      <%= f.text_field :start_at, :value => (@reminder.start_at || Date.today).strftime("%Y-%m-%d"), :size => 11 %>
      <%= calendar_for('reminder_start_at') %>
    </p>
    <p>
      <%= f.text_field :end_at, :value => (@reminder.end_at || Date.today).strftime("%Y-%m-%d"), :size => 11 %>
      <%= calendar_for('reminder_end_at') %>
    </p>
    <p>
      <%= f.check_box :finished %>
    </p>
  </div>
</div>
<div class="splitcontentright">
  <div class="reminder-form box tabular">
    <noscript>
      Your browser must be 10+ years old bro, sorry for you,
      but this form won't work without Javascript!
    </noscript>
    <p>
      <label><%= l(:label_color) %></label>
      <span class=colors>
        <% %w(salmon orange purple blue green clearblue grey).each do |color| %>
          <%= content_tag(:span, "A", :class => "color reminder-#{color}", :data => { :color => color }) %>
        <% end %>
        <%= f.hidden_field :color, :value => @reminder.color %>
      </span>
    </p>
  </div>
<% if Redmine::Plugin.installed?(:redmine_organizations) %>
  <div class="reminder-form box tabular">
    <p>
      <label><%= l(:label_visibility) %></label>
      <span class=visibility>
      <% orga_id = "#{@reminder.visibility}".scan(/^organization:(\d+)/) %>
      <% if $1 && $1.to_i != User.current.organization_id && other_organization = Organization.find_by_id($1) %>
        <label class=inline>
          <%= f.radio_button "visibility", "organization:#{$1}", :checked => true %>
          <%= other_organization.fullname %>
        </label>
        <br>
      <% end %>
      <% if User.current.organization.present? %>
        <label class=inline>
          <%= f.radio_button "visibility", "organization:#{User.current.organization_id}",
                             :checked => ($1.to_i == User.current.organization_id) || ($1.blank? && @reminder.visibility != "all") %>
          <%= User.current.organization.fullname %>
        </label>
        <br>
      <% end %>
        <label class=inline>
          <%= f.radio_button "visibility", "all" %>
          <%= l(:label_all_authorized_users) %>
          (<%= Role.all.select{|r|r.has_permission?(:view_reminders)}.map(&:name).join(", ") %>)
        </label>
      </span>
    </p>
  </div>
<% else %>
  <%= f.hidden_field :visibility, :value => "all" %>
<% end %>
</div>
<!--[eoform:reminder]-->

<div class=clear></div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'reminders', :plugin => "redmine_reminders" %>
  <%= javascript_include_tag 'reminders', :plugin => "redmine_reminders" %>
<% end %>
