<div class=contextual>
  <%= link_to l(:button_edit), edit_reminder_path(@reminder), :class => "icon icon-edit" %>
  <%= link_to l(:button_delete), reminder_path(@reminder),
              :data => {:confirm => l(:text_are_you_sure)},
              :method => :delete, :class => 'icon icon-del'
      #if User.current.allowed_to?(:delete_issues, @project)
  %>
</div>

<h2><%= l(:label_reminder) %> <%= @reminder.id %></h2>

<p class=reminder-dates>
  <%= l(:label_date_from_to, :start => format_date(@reminder.start_at),
                             :end => format_date(@reminder.end_at)) %>
</p>
<p class=reminder-text>
  <%= @reminder.text.presence || l(:label_no_data) %>
</p>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'reminders', :plugin => "redmine_reminders" %>
<% end %>
